@page
@model Assignment2_3534.Pages.AboutModel
@{
}
 @*Simple html content*@
 @*cltr+shift+/*@
 @*List of Group Members*@
 <ul>
     <li> Bhag Singh</li>
     <li> Amandeep Kaur </li>
     <li> Suneha Suneha</li>
 </ul>